*.o

#Ricky.peng 
Service/src/P2PSvr/P2PSvr
Service/docs/html
Service/Doxyfile
Service/etc/Log.conf
Service/lib
Service/src/common
Service/src/Test
Service/src/Common/Makefile
Service/src/cscope.files
Service/src/cscope.in.out
Service/src/cscope.out
Service/src/cscope.po.out
Service/src/filenametags_Ricky
Service/src/tags
Service/src/GenCscope.sh
Service/src/GenLookupFileTags.sh
Service/src/GenTags.sh
Service/src/Ricky_Session.vim
